*{
    margin: 0;
    padding: 0;
}

html{
    min-height: 100%;
    /*height: 100%;*/
}
body{
    height: 100%;
    font-family: 微软雅黑;
    background: -moz-linear-gradient( 90deg, rgb(84,99,148) 0%, rgb(177,77,142) 100%);
    background: -webkit-linear-gradient( 90deg, rgb(84,99,148) 0%, rgb(177,77,142) 100%);
    background: -ms-linear-gradient( 90deg, rgb(84,99,148) 0%, rgb(177,77,142) 100%);
}
a{
    text-decoration: none;
    font-size: inherit;
}
.ZT{
    /*width: 100%;*/
    /*height: 100%;*/
    overflow: hidden;
}
#find{
    width: 2.5rem;
    height: 1rem;
    font-size: 0.3rem;
    position: fixed;
    right: 0;
    top: 0.08rem;
    border-radius: 0.5rem;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    background-color: #f36da0;
    text-align: center;
    line-height: 1rem;
    color: white;
}
#loginIn{
    width: 3.47rem;
    height: 1.2rem;
    font-size: 0.42rem;
    border-radius:0.2rem ;
    text-align: center;
    line-height: 1.2rem;
    background-color: #f36da0;
    margin: 0 auto;
}
#loginIn a{
    color: white;
}
.top-line{
    background: url("../images/line_top.png") no-repeat 3.12rem bottom ;
    background-size: 0.04rem 2.08rem;
    width: 100%;
    height: 2.08rem;
    margin: 0 auto;
    margin-top: 2rem;
}
.mid{
    height: 3.4rem;
    width: 100%;
    margin: 0 auto;
    background: url("../images/line_top.png") repeat-y 3.12rem top ;
    background-size: 0.04rem 0.28rem;
    position: relative;
}
.mid .input-warp{
    position: relative;
    height: 0.9rem;
    width: 100%;
}
.mid .cycle{
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 2.64rem;
    transform: translateY(-50%);
}
.mid .cycle img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0.27rem;
    height: 0.27rem;
}
.mid .cycle .FD{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0.27rem;
    height: 0.27rem;
    background-color: white;
    border-radius: 50%;
}
.input-warp .LB{
    width:1.6rem;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: right;
    position: absolute;
    left: .8rem;
    top: 0;
    font-size: 0.4rem;
    color: white;
}
.input-warp .SR{
    position: absolute;
    left: 4.3rem;
    top: 0;
    background-color: transparent;
    border: none;
    width: 5.2rem;
    height: 0.9rem;
    font-size: 0.4rem;
    color: white;
}
.mid .cycle .BG-cycle{
    animation: myframe 1s infinite;
}
.input-warp label{
    font-size: 0.4rem;
}
.buttom-line{
    background: url("../images/line_bottom.png") no-repeat 3.12rem bottom ;
    background-size: 0.04rem 2.08rem;
    width: 100%;
    height: 2.41rem;
    margin: 0 auto;
}
@keyframes myframe {
    from{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 1;
    }
    to{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(2.5);
        opacity: 0.4;
    }
}
